body{
    background-image: url('skyBackground.png');
    background-size: cover; /* This makes the image cover the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}
 h2 {
    color: aliceblue;
 }
 label{
    color:aliceblue;
 }

/* 

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0, auto;
    padding:  20px;
    background-color: #fbfbfb;  
    color: #fff
}

.container {
    display: block;
    margin:20px auto;
    text-align: center;
    font-size: 15px;
    transition: 0.3s;
    background-color: #95a8c9;
    padding-top:  8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

h2 {
    font: 1.5em; 
   }
 
main {
    display: block;
    margin: 0, auto;
    text-align: center;
    background-color: rgb(42, 43, 44);
    padding: 20px;
    border-radius: 4px;
    text-align: center; margin: 0 auto; max-width: 400px;
}


.button {
    background-color: aliceblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

form {
    display: flex;
    flex-flow: column wrap;
    position: relative;
  }

nav {
    background: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background: #95a8c9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    border-radius: 4px;
} */